#Login{
    background: url('../../assets/book-store-hero-bg-img.svg') !important;  
    width: 100vw;
    height: 85vh;
}
#form{
    background-color: #f2f5f7;
    box-shadow: 5px 10px 8px 10px #593D28;
}